* {
    font-family: Work Sans;
}

/* Header Styles */

.header{
    background-image: url("../images/banner/banner3.png");
    position: absolute;
        width: 1600px;
        height: 808px;
        left: 0px;
        top: 0px;
    
    
}

.header-title{
        font-family: 'Work Sans';
        font-weight: 700;
        font-size: 65px;
        color: #FFFFFF;
        margin-left: 845px; 
        margin-top: 216px;
        width: 525px;
        height: 228px;
        text-align: right;
       
}

.header-description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 494px;
    height: 78px;
    margin-left: 876px;
    text-align: right;
    margin-top: 24px;
}

.btn-primary{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: 0;
    color: #005FAC;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 1210px;
}

/* My Failure list section styles */

.section-1{
    margin-top: 939px;
    display: flex;
}

.fail-image{
    margin-top: 130px;
    margin-left: 206px;
}

.describeFail-list{
    width: 416px;
    height: 400px;
    margin-top: 370px;
    margin-left: 87px;
}

.fail-headline{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
    line-height: 47px;
}

.fail-Description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}

.failure-li{
    list-style: none;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.li-1{
    margin-top: 16px;
}

.li-2{
    margin-top: 8px;
}
.li-3{
    margin-top: 8px;
}
.li-4{
    margin-top: 8px;
}
.li-5{
    margin-top: 8px;
}

/* My Plan Section style */
.section2-title{
    margin-top: 200px;
}
.section2-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.plan-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
}

.plan-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.magic{
    background-image: url("../images/watch.png"), url("../images/gradient1.png");
    width: 1140px;
    height: 300px;
    margin-top: 130px;
    background-blend-mode: overlay;
    margin-left: 230px;

}

.magic-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-right: 617px;
    padding-top: 59px;
    padding-bottom: 147px;
    padding-left: 64px;
}

.btn-secondary{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: 0px;
    border-radius: 10px;
    color: #005FAC;
    background-color: #FFFFFF;
    margin-left: 60px;
    margin-top: 30px;    
}

/* About section style */
.about {
    margin-top: 130px;
    background: #1A66A2;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 200px 200px 0 200px;
    


}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.section-description {
    color: #FFFFFF;
    font-size: 18px;
    margin: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about .info-title {
    font-size: 20px;
    color: #FFFFFF;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.section-title{
    color: #FFFFFF;
}

/* Footer Styling */

.right-footer {
    margin-left: 160px;
    margin-top: 45px;

}
.contact-container{
    display: flex;
    margin-top: 100px;
    gap: 200px;
    background: #151414;
    
}

.left-footer{
    margin-left: 200px;
}

.footer-title1{
    color: #F8F8F8;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
}

.footer-description1{
    font-family: 'Work Sans';
    color: #F8F8F8;
    font-weight: 400;
    font-size: 16px;
    width: 485px;
    height: 78px;
    
}

.footer-description2{
    color: #F8F8F8;
}

.footer-description3{
    color: #F8F8F8;
}

.footer-title2{
    color: #F8F8F8;
}

.right-footer{
    margin-left: 160px;
    
}

.right-footer input[type="text"] {
    padding: 21px 158px 21px 21px;
    background-color: #151414;
    border: 1px solid #F8F8F8;
}

.btn-3rd{
    margin-top: 16px;
    color: #FFFFFF;
    background-color: #005FAC;
    padding: 20px 36px;
    border: 0;
    border-radius: 10px;
}